<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ADO_Notifications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ADO_Notifications.Properties.Settings>
            <setting name="AccessToken" serializeAs="String">
                <value />
            </setting>
            <setting name="RemindAboutUnreviewedPRs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RemindAboutUnreviewedPRIntervalMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="NotifyOnNewPR" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyOnNewPRIncludeDraft" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FirstLaunch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyOnNewBuilds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyOnCompletedBuilds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyOnBuildStatusChanges" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyOnCompletedSuccessfulBuilds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyOnCompletedFailedBuilds" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="NotifyOnUpdatedPullRequests" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMinimised" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MinimiseToTray" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="NotifyWhenAddedAsReviewer" serializeAs="String">
                <value>True</value>
            </setting>
        </ADO_Notifications.Properties.Settings>
    </userSettings>
</configuration>